body {
    margin: 0;
    padding: 0;
    background: #181b1d;
    color: #5ee9ff;
    caret-color: #5ee9ff
    font-family: 'Syncopate', sans-serif;
}
audio {
    visibility: hidden;
}
button {
    position: relative;
    border: 1px solid #5ee9ff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    font-weight: bolder;
    color: #5ee9ff;
    padding: 5px;
    margin: 0 auto;
    transition: all ease 0.5s ;
    width: 120px;
}
button:hover{
    background-color: #5ee9ff; 
    color: #000;
    cursor:pointer;
}
.display {
    transition: all 0.5s ease;
}
.toggle {
    background-color: #5ee9ff; 
    color: #000;
    cursor:pointer;  
}
.intro-container, .login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: monospace;
    z-index: 1;
}
.login-container input {
    display: flex;
    margin: 5px;
    background: #000;
    border: 1px solid #5ee9ff;
    border-radius 10%;
    color:#5ee9ff;
    font-size: 1.5rem;
    height: 25px;
    width: 100%;
}
.setting {
    padding:10px;
    margin-bottom:20px;
}
.main-container {
    position: absolute;
    background: url('areana.jpeg') no-repeat center;
    background-size:contain;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    height: 61.5%;
    width: 90%;
    min-width: 1200px;
    visibility: hidden;
    z-index: 0;
}

.img-container {
    position: fixed;
    margin:0 50% 0; 
    height: 100px;
    transform: translate(-50%);
    width:40%;
}
.main-img {
    margin-top: 0px;
    width: 100%;
    transition: opacity 0.8s linear;
    opacity: 0;
    color:#5ee9ff;
}
.main-btn {
    position: relative;
    border: 1px solid #5ee9ff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    font-weight: bolder;
    color: #5ee9ff;
    padding: 5px;
    margin: 0 auto;
    transition: all ease 0.5s ;
    width: 120px;

}
.main-btn:hover{
    background-color: #5ee9ff; 
    color: #000;
    cursor:pointer;
}
h1 {
    font-family: 'Syncopate', sans-serif;
}
h4 {
    font-size: 1.5rem;
    font-family: 'Syncopate', sans-serif;
    text-align: left;
    color: #000;
}
.name {
    display: none;
}
.secondary-container {
    align-items: center;
    transition: all 1s ease;
    opacity: 0;
    visibility: hidden;
    position: relative;
    top:40%;
    left: 50%;
    height: 250px;
    width: 400px;
    padding-bottom: 50px;
    transform: translate(-50%,-50%);
}
.input-container {
    height: 200px;
    position: relative;
    bottom: 0;
}
.input-container input {
    position: relative;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    margin: 0 auto 10px;
    border:0;
    border-bottom: 1px solid #5ee9ff;
    background-color:rgba(0, 0, 0, 0);
    color: #5ee9ff;
    outline: none;
    font-family: monospace;
    font-size: 2.5rem;
    
}
.userAttempt {
    position: relative;
    text-align: center;
    height: 30px;
    color: #5ee9ff;
    margin: 5px auto;
    transition: all ease 0.2s;
    opacity: 0;
}
.icon {
    position: relative;
    left: 80%;
    border: 1px solid #5ee9ff;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    padding: 8px;
    
}
.icon:hover {
    background: #5ee9ff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.range-selectors {
    padding: 10px;
}
.rate, .pitch {
    background: #5ee9ff;
    border: 1px solid #fff;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}